@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
    background-image: url("back.jpg") ;
}


.container{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 16px;
    border: 1px solid #ffb300;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
}

.reborn-title {
    font-weight: bold;
    text-align: center;
    margin-top: 10px; 
    color: orange; 
}

.register-text {
    color: white; 
}



.input-box {
    position: relative;
    margin: 1px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 1px; 
    margin-top: 1px; 
}



input {
    font-size: 10px;
    background-color: transparent;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.39);
    padding: 8px;
    margin: 1px;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.497);
}

input:focus {
    color: rgb(255, 255, 255);
    outline: none;
}

.btn {
    position: absolute;
    font-size: 11px;
    bottom: 4.50vh;
    right: 17vh;
    background-color: transparent;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.39);
    padding: 8px;
    margin: 1px;
    color: rgba(255, 255, 255, 0.497);
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(255, 196, 0, 0.656); 
    color: white;
}


.img {
    display: flex;
    position: absolute;
    top: 2px;
    right: 18vh;
}

.input-field {
    width: 100%;
    margin-top: 5px;
}

#mesaj {
    position: relative;
    right: -2vh;
    color: red;
    margin-top: 25px;
    text-align: center;
    bottom: 4vh;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .glass {
        max-width: 100%;
        padding: 20px;
    }

    .btn {
        bottom: 10px;
        right: 10px;
    }

    .img {
        right: 10px;
    }
}



@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

